.i {
  display: flex;
  height: 100vh;
  background-color: #fff;
  opacity: 1;
  background-image: radial-gradient(#59b256 0.5px, #fff 0.5px);
  background-size: 10px 10px;
}

.i-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}


.i-right {
  flex: 1;
  position: relative;
}

.i-left-wrapper {
  padding: 80px;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.i-intro {
  font-size: 30px;
  font-weight: 300;
}

.i-name {
  font-size: 60px;
}

.i-title {
  height: 50px;
  overflow: hidden;
}

.i-title-wrapper {
  height: 100%;
  animation: move 10s ease-in-out infinite alternate;
}

@keyframes move {
  25% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(-100px);
  }
  75% {
    transform: translateY(-150px);
  }
  100% {
    transform: translateY(-200px);
  }
}

.i-title-item {
  height: 50px;
  font-size: 30px;
  font-weight: bold;
  color: #59b256;
  display: flex;
  align-items: center;
}

.i-scroll {
  width: 40px;
  height: 50px;
  position: absolute;
  bottom: 20px;
}

.i-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

@media screen and (max-width: 480px) {
  .i {
    flex-direction: column;
  }

  .i-left-wrapper {
  
    padding: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
  }

  .i-desc{
    display: none;
  }

  .flex {
    display: flex;
    margin-left: 1.5rem;
    /* flex-direction: column; */
    /* align-items: center;
  justify-content: center; */
  }
  
}

.flex {
  display: flex;
  
}

.i button {
  margin-right: 20px;
  margin-top: 20px;
}


button {
  font-weight: bold;
  color: #000;
  border-radius: 10px;
  transition: 0.5s;
  cursor: pointer;
}



@media only screen and (max-width:768px){
 .i-scroll{
  display: none;
 }
}

@media only screen and (max-width:600px){
  .i-img{
    width: 100%;
    height: 100%;
    transform: translate(0%, 0%);
  }
}